/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$e-kikai-color: #D9FFDE;
$e-kikai-color-dark: darken($e-kikai-color, 60%);

$breadcrumb-bg: #FFF;
$breadcrumb-text-color: $e-kikai-color-dark;

$base-color: #FFF;
$main-color: #333333;
$accent-color: #F47D35;
$base-text-color: darken($base-color, 80%);

$text-color: $base-text-color;

$body-bg: $base-color;

// $link-color: $accent-color;

$btn-default-bg: $base-color;
$btn-default-border: darken($base-color, 10%);
$btn-primary-bg: $accent-color;
$btn-primary-border: darken($accent-color, 10%);

// $navbar-default-bg: $base-color;
// $navbar-default-color: $base-text-color;
// $navbar-defalut-link-color: $base-text-color;
// $navbar-default-link-hover-color: $base-text-color - 60;
// $navbar-default-link-active-color: darken($base-text-color, 5%);
// $navbar-default-link-hover-bg: $base-color - 10;
// $navbar-default-link-active-bg: darken($navbar-default-bg, 5%);
// $navbar-default-brand-color: $base-text-color;
//
// $hr-border: darken($base-color, 10%);

$navbar-default-bg: $e-kikai-color;
$navbar-default-color: $e-kikai-color-dark;
$navbar-defalut-link-color: $e-kikai-color-dark;
$navbar-default-link-hover-color: $e-kikai-color-dark - 60;
$navbar-default-link-active-color: darken($e-kikai-color-dark, 5%);
$navbar-default-link-hover-bg: $e-kikai-color-dark - 10;
$navbar-default-link-active-bg: darken($navbar-default-bg, 5%);
$navbar-default-brand-color: $e-kikai-color-dark;

$hr-border: darken($e-kikai-color, 10%);

$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/bootstrap-sprockets";
@import "bootstrap-sass-official/bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

footer {
  line-height: 32px;
  color: #FFF;
  background: $e-kikai-color-dark;
  text-align: center;

  a {
    color: #b3d7f7;
    margin: 0 8px;

    font-weight: bold;
  }
}

header {
  &.navbar {
    background-image: url(/images/e-kikai-header-bg.png);
    background-size: cover;
    border-radius: 0;
    border-bottom: 1px solid #a0fea9;
  }

  a.navbar-brand {
    padding: 0;
    overflow: hidden;
  }

  .navbar-text {
    color: #009c0c;
  }

  ul.nav a {
    &:hover {
      background: #009c0c;
      color: #FFF;
    }
  }
}

iframe.mnok_ads {
  display: block;
  margin: 16px auto;
  width: 878px;
  height: 230px;
  border: none;
  overflow: hidden;
}

@media (max-width: 991px) {
  iframe.mnok_ads {
    width: 350px;
    height: 574px;
  }
}

body.ads_body {
  border: 1px solid #2fb941;
  overflow: hidden;
  position: absolute;
}

a.ads_logo {
  display: block;

  img {
    height: 50px;
    margin-left: 32px;
    border: 1px solid #009c0c;
    margin-bottom: 4px;
  }

  .site {
    position: absolute;
    bottom: 8px;
    left: 198px;
  }

  .desc {
    position: absolute;
    color: #333;
    bottom: 8px;
    bottom: 32px;
    left: 198px;
  }
}

.thumbnail.product-pannel {
  width: 172px;
  height: 172px;
  margin: 0;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 0;
  border: 0;
  position: relative;

  a {
    display: block;
    padding: 4px;
    border: 1px solid #FFF;
    width: 100%;
    height: 100%;

    &:hover {
      background: #FFFFE0;
      text-decoration: none;
      border: 1px solid #2fb941;

      img {
        opacity: 1;
      }

    }
  }

  img {
    // max-width: 132px;
    // max-height: 98px;
    max-width: 120px;
    max-height: 90px;
    display: block;
    margin: auto;
  }

  .maker {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 54px;
    width: 170px;
  }

  .name {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 34px;
    width: 170px;
  }

  .model {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 14px;
    width: 170px;
  }

  .price {
    color: #333;
    position: absolute;
    bottom: 0;

    &:hover {
      color: #333;
    }
  }

  .max_price {
    font-size: 18px;
    margin-left: 3px;
  }
}

.logo_banner {
  border: 1px solid #009c0c;
}

table.members-table {
  margin-bottom: 8px;

  td.img {
    padding: 2px;
    width: 124px;
    text-align: center;

    img {
      max-width: 120px;
      max-height: 90px;
    }
  }

  td.machines {
    width: 120px;
    text-align: center;
  }
}

#gmap2 {
  width: 100%;
  height: 480px;
  border: 1px solid #AAA;
  margin: 0 auto 16px auto;
}

.btn-content {
  margin-left: 8px;
}

h3.contact_tel {
  margin: 0;
}

a.mnok_company_link {
  width: 400px;
  border: 1px solid #8630e4;
  display: block;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;

  img {
    width: 320px;
    display: block;
    margin: auto;
  }

  .company_name {
    font-size: 24px;
    color: #1407d2;
    font-weight: bold;
  }
}

.top-movie-head {
  h4 {
    display: inline-block;;
  }

  .btn {
    display: inline-block;
    margin-top: 2px;
  }
}

.top-movie_area {
  .top-movie-machine {
    margin-right: 8px;
    display:inline-block;
    width:270px;
    vertical-align: top;
  }
}

.movies_area {
  margin: 0 -10px;

  .movies-machine {
    margin: 0 10px 20px 10px;
    display:inline-block;
    width:270px;
    vertical-align: top;
  }
}


.youtube.thumb {
	display: inline-block;
	position: relative;
	overflow: hidden;
	// width: 270px;
	// height: 152px;
	img {
    width: 100%;
    height: auto;
  }
}

.youtube.thumb::before {
	position: absolute;
	content: "クリックで再生";
	color: #fff;
  text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 164px;
	// background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	transition: all 0.3s;
}

.youtube:hover::before {
	background: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	transition: all 0.3s;
}

.label-area {
  margin: -8px 0 16px -8px;

  .label {
    display: inline-block;
    font-size: 15px;
    font-weight: normal;

    margin-left: 8px;
    margin-top: 8px;
  }
}

.label {
 .fa-external-link-alt {
    margin-left: 12px;
  }
}

#youtubeModal {
  .modal-body {
    padding: 0;

    iframe {
      width: 100%;
      height: 480px;
    }
  }
}

.pdf-obj {
  width: 100%;
  height: 567px;
}
