// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spec {
  width: 300px;
}

table.detail-table th {
  width: 90px;
}

table.search-table td {
  height: 90px;
}

.machine-img a img {
  margin-bottom: 8px;
}
