// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spec {
  width: 300px;
}

table.detail-table th {
  width: 90px;
}

table.search-table td {
  height: 90px;
}

.machine-img a img {
  margin-bottom: 8px;
}

.machine-image {
  width: 240px;
  height: 180px;
}

.machine-buttons.media-right {
  vertical-align: middle;
}

.machine-other.hidden-sm.hidden-xs {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
}
