// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spec {
  width: 300px;
}

table.detail-table th {
  width: 90px;
}

table.search-table td {
  height: 90px;
}

.machine-img a img {
  margin-bottom: 8px;
}

.machine-image {
  width: 240px;
  height: 180px;
}

.machine-buttons.media-right {
  vertical-align: middle;
}

@media(min-width:992px){
  .machine-other {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
  }
}

.panel-group > .panel > .panel-heading {
  padding: 0;
}
.panel-group > .panel > .panel-heading a:active,
.panel-group > .panel > .panel-heading a:hover,
.panel-group > .panel > .panel-heading a:focus {
  text-decoration: none;
}
a.accordion-toggle {
  display: block;
  padding: 8px 15px;
}

a.accordion-toggle.collapsed > span.glyphicon-chevron-down:before {
  content: "\e080";
}
